.header {
  display: flex;
  justify-content: space-between;
}
.ttl {
  margin-top: 15px;
  margin-left: 30px;
}

.footer{
  margin-bottom: auto;
}
.logo-footer{
  text-align: center;
  font-weight: bold;
}